*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
	color: white;
}

header{
    display: flex;
    justify-content: space-between;
}

.welcom_user{
    padding: 10px;
    font-size: 20px;
}

.about{
	background-color: black;
    color: white;
    font-size: 25px;
    text-indent: 30px;
    line-height: 40px;
    text-align: justify;
    margin: 50px;
    padding-left: 100px;
    padding-right: 100px;
	
}

.menu{
    background-color: black;
	display: flex;
	
}

.menu li{
    padding: 10px;
    list-style: none;
 }

 .menu a{
    text-decoration: none;
    color: white;
 }
 
 .logo{
    height: 600px;
    background-image: url('../images/aleksandr.jpg');
    background-size: cover;
    text-align: center;
}

h1{
    color: white;
    font-size: 70px;
    padding-top: 150px;
}

h2{
    font-size: 50px;
    
}



.logo p{
   padding-top: 100px;
   font-size: 30px;
   color: white;
   text-shadow: 2px 2px 2px black;

}

footer{
	background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
	
}

form{
	margin: 50px;
	font-size: 30px;
	text-align: center;
	
}

input{
	width: 400px;
	font-size: 20px;
	
}

option{
	font-size: 20px
}

button{
	background-color: black;
	color: white;
	font-size: 20px;
	margin: 15px;
	padding: 10px;
	
}

 .logo_articles{
    height: 600px;
    background-image: url('../images/tunel.jpg');
    background-size: cover;
    text-align: center;
}

.link{
    color: white;
}